%section.header-area
  .banner-slider
    %ul.slides.clearfix
      %li= image_tag('banner-05.jpg')
      %li= image_tag('banner-01.jpg')
      %li= image_tag('banner-04.jpg')
      %li= image_tag('banner-03.jpg')
      %li= image_tag('banner-02.jpg')

  .banner-cont-wrapper
    .container
      .navigation-area.clearfix
        %a.sb-toggle-left
          %span{style: 'border: 2px solid black; height: 6px;'}
          %span{style: 'border: 2px solid black; height: 6px;'}
          %span{style: 'border: 2px solid black; height: 6px;'}
        / = render ('layouts/user_panel')
      .logo-area
        = image_tag('ddl-logo-white.png', style: 'width: 320px; height:237px;' )
        / %h1{style: 'color: white; -webkit-text-stroke: 1px black; font-size: 75px; padding: 0px;   text-shadow:-3px -3px 0 #000,3px -3px 0 #000,-3px 3px 0 #000, 3px 3px 0 #000;);'} dominican dota league
        / %h4{style: 'color: white; -webkit-text-stroke: 1px black;'} LIGA DOMINICANA DE INHOUSES
      .banner-conts
        .post-job
          - if current_user
            = link_to('Ver juegos', matches_path, class: 'post-job-btn')
          - else
            = link_to('Registrate', new_user_registration_path, class: 'post-job-btn')
  = render ('layouts/login_box') unless user_signed_in?
%section.live-leaderboards
  .container
    .row.clearfix
      .col-md-10{style: 'padding-top: 20px;'}
        %h3.pull-left LIVE GAMES
        %span.pull-right{style: 'padding-top: 25px;'}= link_to('ver todos', matches_path)
        .clearfix
        .job-list-head.clearfix.animated{"data-animation" => "fadeInUp", "data-animation-delay" => "100"}
          .title Nombre
          .location Status
          .created Acción
        %ul.job-listings
          #match-data
            = render 'live_matches'
        -  if user_signed_in? && current_user.can_create_games?
          = link_to('Crear un juego', new_match_path, {class: 'load-more-jobs', data: {animation: "fadeInUp", "animation-delay" => "100"}})
        - else
          = link_to('Crear un juego', new_match_path, {class: 'load-more-jobs', data: {animation: "fadeInUp", "animation-delay" => "100"}})
        %h3.pull-left{style: 'margin-top: 5px;'} LEADERS
        %span.pull-right{style: 'padding-top: 25px;'}= link_to('ver todos', users_path)
        %table#user-table.table.table-striped.user-table
          %thead
            %tr
              %th Pos
              %th
              %th Nombre
              %th W/L
              %th Juegos
              %th Rating
          %tbody
            - @leaders.each_with_index do |leader, position|
              %tr.animated{"data-animation" => "fadeInUp", "data-animation-delay" => "100", class: leader.position_table_class(position)}
                %td.position.post= position + 1
                %td.profile-pic= leaderboard_image(position)
                %td
                  = link_to(leader.name, "/user/#{leader.regular_name}")
                  %br
                  %i= leader.real_name
                %td.i-info= leader.wins_and_losses
                %td.i-info= leader.games_count
                %td.i-info= leader.rating
        = link_to('Ver todos', users_path, {class: 'load-more-jobs', data: {animation: "fadeInUp", "animation-delay" => "100"}})
      .col-md-2{style: 'padding-top: 20px;'}
        = render ('layouts/stats_sidebar')
- unless @stats.nil?
  %section.job-statistics-main
    .container
      %h3.animated{"data-animation" => "fadeInUp", "data-animation-delay" => "100"} league statistics
      %h5.uppercase.animated{"data-animation" => "fadeInUp", "data-animation-delay" => "200"} DATOS GENERALES
      %hr
        %ul.statistic-val
          %li.animated{"data-animation" => "flipInY", "data-animation-delay" => "200"}
            .stastic-single
              .ico-conts
                %span= @stats[:match_count]
                %i.fi-heart
              %h7 Partidas
          %li.animated{"data-animation" => "flipInY", "data-animation-delay" => "400"}
            .stastic-single
              .ico-conts
                %span= @stats[:last_match]
                %i.fi-address-book
              %h7  Última partida.
          %li.animated{"data-animation" => "flipInY", "data-animation-delay" => "1000"}
            .stastic-single
              .ico-conts
                %span= @stats[:user_count]
                %i.fi-torso-business
              %h7 Miembros
%section.got-a-question
  .container
    .row.clearfix
      .col-md-3.call-us-head.animated{"data-animation" => "fadeInLeft", "data-animation-delay" => "200", style: 'margin-top: -50px;'}
        .col-md-offset-3= image_tag('stomp-logo.png', {style: 'width: 100px; height: 100px'})
        %h2 STOMP MACHINE
      .col-md-6.call-us-txt.animated{"data-animation" => "fadeInUp", "data-animation-delay" => "300"}
        %p Síguenos en Facebook para mantenerte enterado sobre la plataforma!
      .col-md-3.call-us-link.animated{"data-animation" => "fadeInRight", "data-animation-delay" => "200"}
        %a.call-us-btn{:href => 'https://www.facebook.com/thestompmachine', target: '_blank'} NUESTRO FACEBOOK

:css
  .dataTables_filter {
    display: none;
  }

:javascript
  $( document ).ready(function() {
    // Refresh match pool every 5 seconds.
    setInterval(refreshPartial, 5000);
    $('#user-table').DataTable({
      "bAutoWidth": false,
      "aoColumns" : [ { sWidth: "5%" }, { sWidth: "10%" }, { sWidth: "60%" }, { sWidth: "15%" }, { sWidth: "5%" }, { sWidth: "5%" }],
      "bPaginate": false,
      "showNEntries": false,
      "bInfo":false,
       responsive: true
    });
  });
  function refreshPartial() {
    $.ajax({
      url: "/live_matches"
   })
  }