%header.sb-slidebar.sb-left
  %nav.main-menu
    %ul
      - if current_user
        %li
          .user-menu-data
            = link_to("user/#{current_user.name}") do
              %h5{style: 'color: white; -webkit-text-stroke: 1px black; padding: 0px;'}= current_user.decorate.name
            .user-rating= "#{current_user.rating} RATING"
            .user-rating= "W: #{current_user.win_count} / L: #{current_user.lose_count}"
        %br
      - else
        %li
          .waiting= link_to 'Iniciar sesión <br /><i>(login)</i>  '.html_safe, '#', {"data-popup" => "facebox", :href => "#login-box", class: 'ended'}
        %br
      %li
        = link_to('Inicio', root_path)
      %li
        = link_to('Jugadores', users_path)
      %li
        %a{:href => "#"} Juegos
        %ul.sub-menu
          %li
            = link_to 'Ver todos', matches_path
          - if user_signed_in? && current_user.can_create_games?
            %li
              = link_to 'Crear +', new_match_path
      %li
        = link_to('Nosotros', nosotros_path)
      %li
        %a{:href => "#"} Reglas
      %li
        %a{:href => "#"} Contacto
      %li
        %a{:href => "https://www.facebook.com/thestompmachine"} FACEBOOK
      %br
      %br
      %br
      - if user_signed_in?
        %li
          = link_to('salir (logout)', destroy_user_session_path, {style: 'color: rgb(181, 62, 76)', method: :delete})
